### aichemist

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet ultricies mauris nec aliquam. Nullam vel mauris sit amet felis pharetra consequat. Curabitur sed tortor vitae libero tempor fermentum. Fusce fermentum augue sed justo ullamcorper, id luctus enim tristique. Sed sit amet massa ligula. Nam nec neque eget purus viverra facilisis a nec arcu. Integer placerat velit sed augue maximus, at varius odio aliquam. Duis eget mauris quam. Integer ac nisi ac quam molestie malesuada.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Mauris ac vehicula eros. Sed vestibulum erat eu lacus commodo, vel tincidunt ex fringilla. In sed felis odio. Vivamus in ex sit amet sapien rutrum pulvinar. Ut laoreet suscipit erat, eget suscipit leo tincidunt eu. Maecenas id sem in nisl aliquam elementum eget ac quam. Nulla facilisi. Donec nec justo nec orci eleifend iaculis.

Suspendisse potenti. Aliquam erat volutpat. Nam varius mauris nec enim vehicula, vitae cursus purus bibendum. Phasellus rutrum risus nec sapien iaculis tincidunt. Vestibulum scelerisque risus eu velit laoreet condimentum. Ut condimentum nulla nec ex dignissim congue. Nullam dignissim risus nec tortor molestie, nec bibendum nunc dictum. Cras semper, dui a posuere accumsan, velit est feugiat neque, et vehicula quam elit vel mauris.


1. [Readme](index.md)
2. [API]({{project_name}}.md)

#### Documentation Style:

* use numpy docstrings
* create module docstrings (top of the file)
* provide for each class, ideally function an example code snippet
